@model Ass1.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1 class="mb-4">Profile</h1>

<div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">System Account</h4>
    </div>
    <div class="card-body">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="AccountId" />

            <div class="mb-3">
                <label asp-for="AccountName" class="form-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="AccountEmail" class="form-label"></label>
                <input asp-for="AccountEmail" class="form-control" />
                <span asp-validation-for="AccountEmail" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="AccountPassword" class="form-label"></label>
                <input asp-for="AccountPassword" type="text" class="form-control" />
                <span asp-validation-for="AccountPassword" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
            </div>
        </form>
    </div>
</div>
